{% extends "base.html" %} {% block content %}
<div class="col-md-6">
    <form action="{{ url_for('upload_resume') }}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="inputResume" class="form-label">Upload your resume</label>
          <input type="file" class="form-control" id="inputResume" name="resume" accept=".pdf" required>
        </div>
        <div class="mb-3">
          <label for="jobListingsInput" class="form-label">Upload your job listings</label>
          <input type="file" class="form-control" id="jobListingsInput" accept=".pdf" required name="job_files" multiple required>
        </div>
        <button type="submit" class="btn btn-primary">Match jobs</button>
      </form>
</div>

{% endblock %}
